---
title: Starter Template
_options:
  layout: app/layouts/main.static.hbs
---

<h1 class="cover-heading">Hyyan Brunch.</h1>
<p class="lead">
    Brunch skeleton with wordpress themes in mind</p>
<p class="lead">
    <a href="https://github.com/hyyan/brunch-with-hyyan/blob/master/README.md" class="btn btn-lg btn-default ">
        <i class="glyphicon glyphicon-book"></i> Learn more
    </a>
    <a href="https://github.com/hyyan/brunch-with-hyyan" class="btn btn-lg btn-default">
        <i class="glyphicon glyphicon-thumbs-up"></i> Fork/Star On Github
    </a>
</p>