---
title: Brunch Skeleton Template
_options:
  layout: app/layouts/main.static.hbs
---

<h1 class="cover-heading">Pedro's Brunch.</h1>
<p class="lead">
    Brunch skeleton for static HTML sites with Bootstrap Sass, jQuery and Handlebars Templating.</p>
<p class="lead">
    <a href="https://github.com/pnmcosta/brunch-with-pedro/blob/master/README.md" class="btn btn-lg btn-default ">
        <i class="glyphicon glyphicon-book"></i> Learn more
    </a>
    <a href="https://github.com/pnmcosta/brunch-with-pedro" class="btn btn-lg btn-default">
        <i class="glyphicon glyphicon-thumbs-up"></i> Fork/Star On Github
    </a>
</p>
